.input-field{
    border: 2px solid #d4d4d8;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 7px;
    padding-left: 15px;
    font-size: medium;
    outline: none;
}
input::placeholder{
    color: #666666;
}
label{
    font-size: medium;
    font-weight: 600;
}
.with-line:before,
.with-line:after {
  content: "";
  display: inline-block;
  border-top: 1px solid #000;
  width: 43%;
  vertical-align: middle;
  margin: 0 0.5em;
}