@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e7e5e4;
  font-family: sans-serif;
}

/* Login and Signup form */
.form-input-field {
  border: 2px solid #d4d4d8;
  margin-bottom: 15px;
  height: 37px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: medium;
  outline: none;
}
.form-input-field::placeholder {
  color: #666666;
}
.form-label {
  font-size: medium;
  font-weight: 600;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
